.latest{
    width: 65%;
    margin: 20px auto;
    background-color: white;
    text-align: center;
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.latestTitle{
    display: inline-block;
    margin: 25px;
    width: 100%;
    text-align: left;
}
.product{
    width: 160px;
    display: inline-block;
    margin: 0px 27px 15px 0px;
}
.productImg{
    height: 200px;
    width: 160px;
}
.productName{
    color: darkgray;
    margin: 0;
    font-size: 14px;
    width: 150px;
    text-align: left;
}