.cartdetails {
    width: 97%;
    margin: 0px auto;
    padding: 10px;
}
.main{
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.back{
    width: 46%;
    cursor: pointer;
    color: black;
}
.mainHeading{
    width: 50%;
    margin: 1px 0px;
    font-size: 25px;
}
.cartHeading{
    display: inline-block;
    margin: 0;
    width: 53%;
    color: gray;
}
.pickupAddress{
    color: gray;
    margin-top: 10px;
    margin-bottom: 25px;
}
.title{
    border-bottom: 1px solid lightgray;
    height: 20px;
}
.orderItems{
    border-bottom: 1px solid lightgray;
}
.heading{
    display: inline-flex;
    width: 100%;
}
.items{
    width: 40%;
}
.qtys{
    width: 30%;
    text-align: center;
}
.amounts{
    width: 30%;
    text-align: end;
    margin-right: 5px;
}
.data{
    display: inline-flex;
    width: 100%;
}
.item{
    width: 40%;
}
.qty{
    width: 19.2%;
    margin: 0;
}
.amount{
    width: 40.8%;
    text-align: end;
    margin-right: 5px;
}
.orderTotal{
    width: 100%;
    display: inline-flex;
    margin-top: 10px;
}
.total{
    width: 70%;
    font-weight: 500;
}
.totalamt{
    width: 30%;
    text-align: end;
    margin-right: 5px;
    font-weight: 500;
}

@media (min-width:1220px) and (max-width:1400px){
    .qty{
        width: 21.2%;
    }   
}
@media (min-width:1080px) and (max-width:1220px){
    .qty{
        width: 22.2%;
    }   
}
@media (min-width:800px) and (max-width:1080px){
    .qty{
        width: 26.2%;
    }   
}
@media (min-width:680px) and (max-width:800px){
    .qty{
        width: 31.2%;
    }   
}
@media (min-width:550px) and (max-width:680px){
    .qty{
        width: 39.2%;
    }   
}
@media (min-width:480px) and (max-width:550px){
    .qty{
        width: 44.2%;
    }   
}