.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}
.bottomNavbar{
    background-color: mediumseagreen;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: inline-flex;
}