.continue{
    width: 50%;
    text-align: left;
    margin: 25px 0px;
}
.continueBtn{
    background-color: mediumseagreen;
    border: none;
    color: white;
    font-size: larger;
    cursor: pointer;
}
.rightarrow{
    margin-left: 330px;
}
@media (min-width:800px) and (max-width:992px){
    .rightarrow{
        margin-left: 250px;
    }
}
@media (min-width:620px) and (max-width:800px){
    .rightarrow{
        margin-left: 175px;
    }
}
@media (min-width:480px) and (max-width:620px){
    .rightarrow{
        margin-left: 70px;
    }
}